<style>
	.swatch1 {
		background-color: {{vm.swatch.color1}};
	}
	.swatch2 {
		background-color: {{vm.swatch.color2}};
	}
	.swatch3 {
		background-color: {{vm.swatch.color3}};
	}
</style>

<h1>{{vm.swatch.name}}</h1>
<div class="swatch-container">
<div class="swatch swatch1">{{vm.swatch.color1}}</div>
<div class="swatch swatch2">{{vm.swatch.color2}}</div>
<div class="swatch swatch3">{{vm.swatch.color3}}</div>
</div>


<form ng-submit="vm.update()">
	<input type="text" ng-model="vm.swatch.name" value="vm.swatch.name">
	<input type="text" ng-model="vm.swatch.color1" value="vm.swatch.color1">
	<input type="text" ng-model="vm.swatch.color2" value="vm.swatch.color2">
	<input type="text" ng-model="vm.swatch.color3" value="vm.swatch.color3">
	<button type="submit">Edit Swatch</button>
</form>

<button ng-click="vm.destroy()">Remove Swatch</button>
